<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Authorization</title>


</head>
<body>
    <h2>Telegram Authorization</h2>
    <p>Нажмите на кнопку ниже, чтобы авторизоваться через Telegram:</p>
    <!-- <button onclick="openTelegramOAuth()">Войти через Telegram</button> -->
    <button onclick="window.location.href = 'https://oauth.telegram.org/auth?bot_id=7831164361&origin=https%3A%2F%2F8718-151-236-8-183.ngrok-free.app%2Fapi%2Fauth%2Ftelegram%2F&embed=1&request_access=write';">Войти через Telegram</button>

</body>
</html>
